---
layout: default
title: Aria Components Examples
permalink: /
---

<header class="header">
	<h1>{{ page.title }}</h1>
	<p>This page represents the current state of <code>v{{ site.version }}</code> of <a href="{{ site.data.links.package }}">the NPM package</a>.</p>
	<p><a href="{{ site.data.links.repo }}">View the GitHub repository</a> for other versions of this page.</p>
</header>

<section class="section">
	<header class="section-header">
		<h2>Dialog</h2>
	</header>

	{% include components/dialog.html %}
</section>

<section class="section">
	<header class="section-header">
		<h2>Disclosure</h2>
	</header>

	{% include components/disclosure.html %}
</section>

<section class="section">
	<header class="section-header">
		<h2>Listbox</h2>
	</header>

	{% include components/listbox.html %}
</section>

<section class="section">
	<header class="section-header">
		<h2>Menu</h2>
	</header>

	{% include components/menu.html %}
</section>

<section class="section">
	<header class="section-header">
		<h2>Popup</h2>
	</header>

	{% include components/popup.html %}
</section>

<section class="section">
	<header class="section-header">
		<h2>Tablist</h2>
	</header>

	{% include components/tablist.html %}
</section>
